.container {
    max-width: 400px;   
    margin: 100px auto 0 auto;
    box-shadow: 0px 0px 10px 10px rgb(255, 188, 176);
}

.display {
    text-align: right;
    background-color: rgb(255, 255, 255);
    width: 381px;
    height: 30px;
    padding: 16px 8px;
    font-size: 25px;
}
.allover {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
}
button {
    border: 0.5px solid #999;
    background-color: rgb(245, 192, 148);
    line-height: 50px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}
button:hover{
    color: white;
	background: #504f4f;
}
button.equal {
    width: 300px;
    background: #4f8d7e;
}
